.color-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
}

.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}

